.table-meeting {
   & thead {
     & > tr > th {
       color: white;
       font-size: 14px;
       letter-spacing: 2px;
       text-align: center;
       text-transform: uppercase;
       background-color: black;
     }
   }
  .table-headline {
    text-align: center;
    & > th {
      color: white;
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      background-color: #17a2b8;
    }
    & > td {
      font-size: 14px;
      text-align: left;
      letter-spacing: 0.5px;
      padding: 0;
      height: 1px;
    }
  }
}

.event-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #90EE90;
  padding: 0 10px;

  .event-name {
    font-size: 14px;
    font-weight: 600;
  }

  .event-button {
    font-size: 16px;
    color: green;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    border: none;
    background-color: transparent;

    &:hover {
      opacity: .75;
    }
  }

  .event-button-close {
    display: none;
  }
}

